<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create File</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h2 class="title">Create a New File</h2>

    <% if (error) { %>
        <div class="error-messages">
          <p class="error"><%= error %></p>
        </div>
    <% } %>

    <form class="form" action="/create-file/<%= folderId %>" method="POST" enctype="multipart/form-data">

        <label class="file-label" for="file">
            <input class="file-input" type="file" name="file" id="file" required/> 
            <p class="file-size-message">(Max size: 10MB)</p>
        </label>
        

        <div class="button-wrapper">
            <button class="form-submit" type="submit">Upload File</button>
            <a class="cancel" href="/homepage/<%= folderId %>">
                Cancel
            </a>
        </div>
    
    </form>
    
</body>
</html>