<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
</head>
<body>
    <h2 class="title">Welcome to the homepage</h2>
    <form action="/logout" method="POST">
        <button class="messages-nav" type="submit">Log Out</button>
    </form>

    <a href="<%= folderId ? '/create-folder/' + folderId : '/create-folder' %>">
        <button>Create New Folder</button>
    </a>

    <a href="<%= folderId ? '/create-file/' + folderId : '/create-file' %>">
        <button>Upload New File</button>
    </a>

    <div class="file-folder-table">
        <%- include('folderTable', { filesAndFolders }); %>
    </div>
</body>
</html>