<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="main-page-wrapper">
    <h2 class ="welcome-title">Welcome to File Storage</h2>
    <h3 class ="welcome-subtitle">Your secure, reliable, and easy-to-use 
      online file storage solution. Start organizing 
      and accessing your files from anywhere in the world. 

    </h3>
    <div class="links-container">
      <a href="/login" class="button">Login</a>
      <a href="/signup" class="button">Sign Up</a>
    </div>
  </div>

</body>
</html>