<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <!-- <link rel="stylesheet" href="/css/main.css"> -->
</head>
<body>
  <%- include('header') %>
  <div class="main-page-wrapper">
    <h2>This is the welcome page</h2>
    <div class="links-container">
      <a href="/login" class="button">Login</a>
      <a href="/signup" class="button">Sign Up</a>
    </div>
  </div>

</body>
</html>