<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Folder</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h2 class="title">Create a New Folder</h2>
    <form class ="form" action="<%= folderId ? '/create-folder/' + folderId : '/create-folder' %>" method="POST">
        <label class="file-form-label" for="folderName">Folder Name:</label>
        <input class="file-form-textarea" type="text" id="folderName" name="folderName" required>
        <div class="button-wrapper">
            <button class="file-submit" type="submit">Create Folder</button>
            <a class="cancel" href="/homepage/<%= folderId %>">
                Cancel
            </a>
        </div>
    </form>
</body>
</html>